*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    overflow-x: hidden;
}

.header{
    position:fixed;
    top:0;
    left:0;
    height: 3em;
    width:100vw;
    background-color: white;
    border-bottom: 3px solid lightgrey;
    z-index: 3;
}

.right{
    position:fixed;
    float:left;
    align-items: center;
    justify-content: center;
    height:100vh;
    overflow-y: scroll;
    top:0;
    right:0;
    padding-bottom: 2em;
    width:30%;
    z-index: 2;
    display: flex;
    flex-wrap:wrap;
    background: linear-gradient(0deg, rgba(250,242,231,1) 0%, rgba(255,255,255,1) 100%);
}

.middle{
    float:left;
    margin-top: 3em;
    left:0;
    width:70%;
    flex-wrap:wrap;
    background-color: white;
}


#shot {
    position: absolute;
    padding: 6px 14px;
    bottom: 0px;
    left: 0px;
    margin: 5px;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.9);
    border: none
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
    color: darkgrey;
    font-weight: 1000;
}

#shot2 {
    position: absolute;
    padding: 6px 14px;
    bottom: 0px;
    left: 0px;
    margin: 5px;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.9);
    border: none
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
    color: darkgrey;
    font-weight: 1000;
}

#oldphoto{
    width:30%;
    height:auto;
    left:0;
    margin-top: 2rem;
    position:absolute;
    z-index: 1;
}

#siteimage{
    width:60%;
    height:auto;
    top:0;
    right:0;
    position:absolute;
    z-index: -1;
}

.mapdiv{
    width:100vw;
    height:100vh;
    overflow-x: hidden;
}
/*
.container{
    width: 100%;
    height:100%;
    display:block;
    position:absolute;
}*/

.others{
    width:100%;
    display: flex; 
    justify-content: center;
    overflow-y: hidden;
    overflow-x:inherit;
    margin-top: 2em;
    flex-wrap: wrap;
}

.others img{
    width: 300px;;
    height:auto;
    margin-left: 10px;
    margin-top: 10px;
    padding-bottom: 5px;
    overflow: hidden;
    float:left;
}

.others img:hover{
    filter:gray;
    -webkit-filter:grayscale(1);
    transition: .5s ease;
}

.catalogue{
    width:90%;
    display:flex;
    padding-top: 1rem;
    padding-left: 5em;
    padding-right: 5em;
    padding-bottom: 1em;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: hidden;
    overflow-x:inherit;
}

.catalogue img{
    width: 350px;
    height:auto;
    overflow:hidden;
    margin:10px;
}

.catalogue img:hover{
    filter:gray;
    -webkit-filter:grayscale(1);
    transition: .5s ease;
}

section{
    display:inline-block;
    justify-content:center;
    width:90%;
    height:90vh;
    margin-top: 4rem;
    margin-bottom: 2rem;
    position:relative;
    overflow: hidden;
    margin-left: 5%;
}


.webgl
{
    position: absolute;
    outline: none;
}

.text{
    position: absolute;
    z-index:1;
    margin-top: 20%;
    margin-left: 10vw;
    height: 100%;
    width: 100%;
    align-items:left;
}

.imgtxt{
    position: absolute;
    bottom:10%;
    left:50%;
    transform:translate(-50%,10%);
    font-weight: bold;
}

.img{
    position:relative;
    text-align: center;
    color:white;
}

h1{
    font-size:8rem;
    position:relative;
    left:0;
    color:rgba(0,0,0,0.8);
    line-height: 8rem;
    background-color: rgba(255,255,255,0.3);
}

h2{
    font-size: 2em;
    font-weight: lighter;
    margin-left: 10vw;
    position: absolute; 
    z-index: 1;
    top: 0;
    right:0;
    color:white;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
}

h3{
    position:relative;
    text-align: center;
    align-self: center;
    justify-content: center;
    font-size: 2em;
    margin-top: 0.25em;
}

h4{
    font-size:5rem;
    position:relative;
    left:0;
    color:rgba(0,0,0,0.8);
    line-height: 4rem;
    background-color: rgba(255,255,255,0.3);;
}

h5{
    position:static;
    top:0;
    left:0;
    padding:0.5%;
    font-size: 2em;
    color:darkslategray;
}


h6{
    position: relative;
    font-size:1.5em;
    margin-top: 0.25em;
    text-align: center;
    padding-right: 2em;
    padding-left: 2em;
}

h7{
    font-size: 2em;
    float:right;
    padding: 0.5%;
    color: rgb(156, 155, 155);
    font-weight: 700;
}

a:link{
    color: lightgrey;
    text-decoration: none;
}

a:visited {
    color: lightgray;
    text-decoration:underline;
}

a:hover{
    color: yellow;
    text-decoration: none;
}

p{
    font-size: 1em;
    position: relative;
    line-height: 1em;
    left:0;
    word-wrap: break-word;
}

#discuss_thread{
    width:50%;
}

.commentbox{
    display:flexbox;
    width:90%;
    margin-left: 5%;
    margin-top: 5rem;
    overflow-x: hidden;
    
}

.narrative{
    margin-left: 1em;
    display:flexbox;
    justify-content:center;
    margin-top: 3rem;
    padding: 3%;
    overflow-x: hidden;
    overflow-y:hidden;
    align-items: left;
}